    <link rel="stylesheet" href="/assets/css/data.css">
    {{> nav }}
    {{> login-modal }}
    
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading" id="data">
                            <i class="fa fa-database"></i>
                            <h3>Homeroom Data </h3>
                        </div>
                      
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-"></i>Homeroom Data</li>
                            {{!-- <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li> --}}
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="/showData">Click Here</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading" id="rankings">
                            <i class="fa fa-table"></i>
                            <h3>Class Rankings</h3>
                        </div>
                       
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-"></i> Rankings for All Homerooms/Grades</li>
                            {{!-- <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li> --}}
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="/rankings">Click Here</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading" id="alldata">
                            <i class="fa fa-desktop"></i>
                            <h3>Update Student  Data</h3>
                        </div>
                    
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-"></i> Update Data</li>
                            {{!-- <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li> --}}
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="/inputData">Click Here</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>
    <!-- /Plans -->