        <link rel="stylesheet" href="/assets/css/pricing.css">
    {{> nav }}
    {{> login-modal }}
    
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>5th Grade</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p></i></i><strong>1st Place: </strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> 2nd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 3rd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

               
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>6th Grade</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p></i></i><strong>1st Place: </strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> 2nd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 3rd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

				
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>7th Grade</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p></i></i><strong>1st Place: </strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> 2nd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 3rd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

				
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>8th Grade</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p></i></i><strong>1st Place: </strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> 2nd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 3rd Place: </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>
    <!-- /Plans -->