        <link rel="stylesheet" href="/assets/css/data.css">
    {{> nav }}
    {{> login-modal }}
    
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-book"></i>
                            <h3>5th Grade</h3>
                        </div>
                     
                        <ul class="list-group text-center">
                            <li class="list-group-item"> 1st Place: </li>
                            <li class="list-group-item"> 2nd Place: </li>
                            <li class="list-group-item"> 3rd Place: </li>
                            <li class="list-group-item"> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

               
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-book"></i>
                            <h3>6th Grade</h3>
                        </div>
                    
                        <ul class="list-group text-center">
                            <li class="list-group-item"> 1st Place: </li>
                            <li class="list-group-item"> 2nd Place: </li>
                            <li class="list-group-item"> 3rd Place: </li>
                            <li class="list-group-item"> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

				
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-book"></i>
                            <h3>7th Grade</h3>
                        </div>
                       
                        <ul class="list-group text-center">
                            <li class="list-group-item"> 1st Place: </li>
                            <li class="list-group-item"> 2nd Place: </li>
                            <li class="list-group-item"> 3rd Place: </li>
                            <li class="list-group-item"> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

				
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-book"></i>
                            <h3>8th Grade</h3>
                        </div>
                      
                        <ul class="list-group text-center">
                            <li class="list-group-item"> 1st Place: </li>
                            <li class="list-group-item"> 2nd Place: </li>
                            <li class="list-group-item"> 3rd Place: </li>
                            <li class="list-group-item"> 4th Place: </li>
                        </ul>
                     
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>
    <!-- /Plans -->