<link rel="stylesheet" href="/assets/css/data.css">

{{> nav }}
{{!-- {{> login-modal }} --}}


<section id='dataInfo'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="classroom">

                    <div class="button">
                        <button class="btn btn-info" id="searchButton">Get Data</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Word Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each students}}
                        {{!-- {{#if cond1}}
                        true
                        {{else}}
                        false
                        {{/if}} --}}
                        <tr id="form-row">
                            <td>{{first_name}}</td>
                            <td>{{last_name}}</td>
                            <td>{{word_count}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
</section>