<link rel="stylesheet" href="/assets/css/data.css">
{{> nav }}
{{> login-modal }}

<!-- Plans -->
<section id="plans">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="author-container">
<<<<<<< HEAD
                    <h1>StuÎdent Roster</h1>
=======
                    <h1>Student Roster</h1>
>>>>>>> f009c572902fe069ee4ce8ea1644672587928370
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Word Goal</th>
                                <th>Word Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each students}}
                            <tr id="form-row">
                                <td>{{first_name}}</td>
                                <td>{{last_name}}</td>
                                <td>{{word_goal}}</td>
                                <td>{{word_count}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                  
                        <form id="author-form">
                            <td colspan="4">
                                <input placeholder="Enter a name" id="author-name" type="text" />
                            </td>
                            <td><button type="submit" class="btn btn-success">Create Author</button>
                            </td>
                        </form>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Plans -->